
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-1-hB5 {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #030101;

  .auto-group-koa7-4A3 {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 5.1rem 3.7rem 5.9rem 3.7rem;

    .auto-group-3s8b-HqR {
      flex-shrink: 0;
      margin: 0rem 25rem 1.4rem 44.2rem;
      width: calc(100% - 69.2rem);
      display: flex;
      align-items: center;

      .home-8b9 {
        margin-right: 5.3rem;
        font-size: 3.7143rem;
        font-weight: 400;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .about-yLs {
        align-items: baseline;
        flex-shrink: 0;
        cursor: pointer;
        font-size: 3.4535rem;
        font-weight: 400;
        display: flex;
        margin-right: 8rem;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;

        .about-yLs-sub-0 {
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          font-size: 3.4535rem;
          font-weight: 400;
        }
        .about-yLs-sub-1 {
        }
      }
      .works-Ak7 {
        margin: 0.1rem 8.9rem 0rem 0rem;
        cursor: pointer;
        font-size: 3.6404rem;
        font-weight: 400;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .contact-2GX {
        font-size: 3.531rem;
        font-weight: 400;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-top: 0.1rem;
        cursor: pointer;
      }
    }
    .auto-group-hdmz-WhV {
      width: calc(100% - 10rem);
      height: 63rem;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;
      margin-right: 10rem;

      .auto-group-tnns-NUo {
        flex-direction: column;
        flex-shrink: 0;
        margin: 0.18rem 1.6rem 0rem 0rem;
        width: 86.6rem;
        align-items: center;
        display: flex;

        .auto-group-ysjx-RCB {
          margin: 0rem 21.8rem 3.9rem 0rem;
          width: calc(100% - 21.8rem);
          height: 11.6195rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .auto-group-ycg7-TuZ {
            flex-shrink: 0;
            margin-right: 21.9rem;
            height: 100%;
            display: flex;
            flex-direction: column;

            .portfolio-2jh {
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 3.6195rem;
              font-size: 3.5325rem;
              font-weight: 400;
              line-height: 1.2125;
            }
            .hello-im-rose-ann-XwM {
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-left: 8.4rem;
              font-size: 3rem;
              font-weight: 400;
              line-height: 1.2125;
            }
          }
          .image-1417-ots {
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
            margin-bottom: 0.2805rem;
            width: 7.5rem;
            height: 7.1rem;
          }
        }
        .i-raise-motivational-levels-thereby-efficiently-fighting-procrastination-and-laziness-i-value-clarity-empathy-and-integrity-above-all-else-these-ideals-guide-my-approach-to-problem-solving-and-life-in-general-j1q {
          font-weight: 400;
          line-height: 1.2125;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0rem 0rem 2.9rem 11.8rem;
          max-width: 74.8rem;
          font-size: 3rem;
        }
        .image-1420-YV5 {
          margin-left: 7.1rem;
          width: 6.3rem;
          height: 6.3rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .auto-group-qx8b-U7q {
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;
          margin: 0rem 2.2rem 1.3rem 16.7rem;
          width: calc(100% - 18.9rem);

          .image-1418-z6B {
            width: 6.3rem;
            height: 6.3rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 51rem;
          }
          .image-1422-j3m {
            height: 9.3rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
            margin-top: 2.6rem;
            width: 10.4rem;
          }
        }
        .image-1421-ru5 {
          margin-right: 5.8rem;
          width: 8rem;
          height: 8rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .auto-group-u8tf-zVV {
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .image-1419-wvX {
          width: 7rem;
          height: 4.5rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 0rem 6.5rem 22.8rem;
        }
        .image-1-t55 {
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 3.6rem;
          width: 38.4rem;
          height: 35.8rem;
          object-fit: cover;
        }
        .image-1423-2BH {
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 2.4rem;
          width: 12.6rem;
          height: 12.6rem;
          object-fit: cover;
        }
      }
    }
    .auto-group-vulf-ZS7 {
      margin-right: 47.9rem;
      display: flex;
      align-items: flex-end;
      flex-shrink: 0;

      .vector-hoD {
        margin-right: 3.3rem;
        width: 6.5rem;
        height: 6.7rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .social-icons-2qV {
        height: 4.8rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 3.3rem 0.9rem 0rem;
        width: 7.6rem;
      }
      .social-icons-ZKd {
        margin: 0rem 3.704rem 0.901rem 0rem;
        width: 6.3963rem;
        height: 4.7991rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .social-icons-sLK {
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 16.2rem 0.9rem 0rem;
        width: 4.1rem;
        height: 3.9rem;
        object-fit: contain;
      }
      .image-1424-PZZ {
        margin-bottom: 6.1rem;
        width: 4.6rem;
        height: 4.6rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
  }
  .auto-group-rjkh-vZV {
    width: 100%;
    height: 71.6rem;
    position: relative;
    flex-shrink: 0;

    .frame-1-GNT {
      padding: 5.1rem 0rem 0rem 1.6rem;
      width: 144rem;
      left: 0;
      align-items: flex-end;
      flex-direction: column;
      display: flex;
      box-sizing: border-box;
      height: 71.6rem;
      position: absolute;
      top: 0;
      overflow: hidden;

      .about-me-ATq {
        flex-shrink: 0;
        margin: 0rem 42.964rem 4.5rem 0rem;
        font-size: 3.7284rem;
        font-weight: 400;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
      .im-rose-ann-robel-i-live-in-lucena-city-currently-studying-in-dalubhasaan-ng-lungsod-ng-lucena-i-am-a-third-year-college-student-taking-bachelor-of-science-in-information-technology-also-i-join-in-extra-curriculum-activities-like-beauty-pageants-and-another-part-time-job-is-i-am-an-esl-teacher-in-zenitech-acadsoc-tej {
        font-weight: 400;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        margin: 0rem 3.6rem 6.6rem 0rem;
        max-width: 89rem;
        font-size: 2.6095rem;
      }
      .auto-group-w7nx-enK {
        align-items: flex-end;
        flex-shrink: 0;
        margin: 0rem 6.2rem 2.5rem 0rem;
        box-sizing: border-box;
        padding-top: 3.9rem;
        display: flex;

        .my-resume-B1Z {
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 23.8rem 1rem 0rem;
          font-size: 3.7511rem;
          font-weight: 400;
          line-height: 1.2125;
        }
        .lets-talk-6uD {
          font-weight: 400;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 8.7rem 1rem 0rem;
          cursor: pointer;
          font-size: 3.7511rem;
        }
        .image-1427-csZ {
          flex-shrink: 0;
          width: 12.1rem;
          height: 11.2rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
      .frame-2-A8P {
        width: 100%;
        height: 86.2rem;
        overflow: hidden;
        position: relative;
        flex-shrink: 0;
      }
    }
    .image-2-7JX {
      left: 12.6rem;
      top: 12.2rem;
      object-fit: cover;
      vertical-align: top;
      width: 34.8rem;
      height: 34.7rem;
      position: absolute;
    }
    .image-1425-Ee3 {
      width: 10.3rem;
      height: 8rem;
      position: absolute;
      left: 121rem;
      top: 8.2rem;
      object-fit: cover;
      vertical-align: top;
    }
    .image-1426-m8B {
      height: 15.1935rem;
      position: absolute;
      left: 80.3rem;
      top: 35.4rem;
      object-fit: cover;
      vertical-align: top;
      width: 15.7rem;
    }
  }
  .auto-group-dnqm-5Pm {
    flex-shrink: 0;
    width: 100%;
    height: 172.9rem;
    position: relative;

    .auto-group-acb1-cuV {
      width: 121.1rem;
      height: 15rem;
      position: absolute;
      left: 3.9rem;
      top: 50.9rem;
      display: flex;
      align-items: flex-start;

      .image-1430-wRy {
        vertical-align: top;
        flex-shrink: 0;
        margin: 3rem 3.6rem 0rem 0rem;
        width: 13.3rem;
        height: 12rem;
        object-fit: cover;
      }
      .view-source-code-4mV {
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-top: 0.7rem;
        font-size: 3.0528rem;
        font-weight: 400;
      }
      .image-1428-PYs {
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin: 3rem 32.6rem 0rem 0rem;
        width: 10.8rem;
        height: 10.1rem;
      }
      .view-source-code-vHu {
        font-size: 3.0528rem;
        font-weight: 400;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 0.6rem;
      }
      .auto-group-rrvt-Tod {
        margin-top: 3.6rem;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('REPLACE_IMAGE:9906cc0c45598fc9d75abd338ccd317c042a8f6e');
        flex-shrink: 0;

        .image-1433-1q9 {
          object-fit: cover;
          vertical-align: top;
          width: 7rem;
          height: 9.8rem;
        }
      }
    }
    .auto-group-fntz-K59 {
      width: 70.3rem;
      height: 8.6rem;
      position: absolute;
      left: 53rem;
      top: 5.3rem;
      display: flex;
      align-items: flex-start;

      .my-works-SfZ {
        margin-right: 31.2rem;
        font-size: 4.9808rem;
        font-weight: 400;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .image-1427-LF9 {
        vertical-align: top;
        flex-shrink: 0;
        width: 9.2rem;
        height: 8.6rem;
        object-fit: cover;
      }
    }
    .auto-group-fytm-foD {
      display: flex;
      align-items: flex-start;
      width: 118.2rem;
      height: 27.4rem;
      position: absolute;
      left: 10rem;
      top: 22.2rem;

      .image-3-C2T {
        background-position: -0rem -2.4164rem;
        background-image: url('REPLACE_IMAGE:7e5397ce5f529c0746bdd88e26c2223b10784ee7');
        flex-shrink: 0;
        margin: 0.6rem 3.2rem 0rem 0rem;
        width: 51.6rem;
        height: 26.8rem;
        position: relative;
        background-size: 104.472% 133.443%;
      }
      .image-1431-Tyy {
        margin-right: 2rem;
        width: 8rem;
        height: 6.7rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .image-4-Cgf {
        flex-shrink: 0;
        margin-top: 0.6rem;
        width: 53.4rem;
        height: 26.8rem;
        position: relative;
        background-size: 117.621% 163.077%;
        background-position: -3.9991rem -6.1846rem;
        background-image: url('REPLACE_IMAGE:3cbf350dd9ef9660aec2ab097b65e3a37a660685');
      }
    }
    .auto-group-vebr-72w {
      position: absolute;
      left: 7.7rem;
      top: 73.7rem;
      display: flex;
      align-items: flex-end;
      width: 123.5rem;
      height: 34.2rem;

      .auto-group-qk8f-EtF {
        margin: 0rem 1.9rem 0.7rem 0rem;
        width: 68.2rem;
        height: 33.5rem;
        position: relative;
        flex-shrink: 0;

        .image-5-yL3 {
          width: 56.2rem;
          height: 28.8rem;
          position: relative;
          left: 0;
          top: 1.6rem;
          background-size: 100% 190.37%;
          background-position: 0 -7.5467rem;
          background-image: url('REPLACE_IMAGE:31539a25ed5d95032398d5c352f7062355332a43');
        }
        .view-source-code-Z3M {
          font-weight: 400;
          font-family: Inter, 'Source Sans Pro';
          width: 26.6rem;
          height: 3.8rem;
          left: 14.8rem;
          top: 29.7rem;
          font-size: 3.0528rem;
          position: absolute;
          line-height: 1.2125;
          white-space: nowrap;
        }
        .image-1429-TPd {
          width: 16rem;
          height: 16rem;
          position: absolute;
          left: 52.2rem;
          top: 0;
          object-fit: cover;
          vertical-align: top;
        }
      }
      .auto-group-v6cx-BaX {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .image-6-YR5 {
          background-position: 0 -3.4352rem;
          background-image: url('REPLACE_IMAGE:7dc53487af8d759b2027824478df0b7e37a44f91');
          flex-shrink: 0;
          margin-bottom: 0.7rem;
          width: 53.4rem;
          height: 28.8rem;
          position: relative;
          background-size: 101.311% 122.985%;
        }
        .view-source-code-SmM {
          font-weight: 400;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-left: 7.4rem;
          font-size: 3.0528rem;
        }
      }
    }
    .auto-group-ksv7-yFV {
      align-items: flex-end;
      width: 85.6rem;
      height: 6.1rem;
      position: absolute;
      left: 26.6rem;
      top: 15.6rem;
      display: flex;

      .resume-6qu {
        margin-right: 45.4rem;
        font-size: 4.9808rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .calculator-2zT {
        font-size: 4.4598rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 0.1rem;
      }
    }
    .auto-group-ukf9-Aqm {
      align-items: flex-end;
      width: 96.1rem;
      height: 5.6rem;
      position: absolute;
      left: 26rem;
      top: 67.6rem;
      display: flex;

      .to-do-list-6zK {
        flex-shrink: 0;
        margin-right: 44rem;
        font-size: 4.1598rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
      .color-changer-qh1 {
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 4.5625rem;
        font-weight: 400;
      }
    }
    .auto-group-tnqw-auV {
      width: 124.2rem;
      height: 53.6rem;
      position: absolute;
      left: 14.8rem;
      top: 114.6rem;
      display: flex;
      align-items: center;

      .auto-group-duty-iko {
        margin: 9.7rem 2.8rem 9.3rem 0rem;
        height: calc(100% - 19rem);
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .social-icons-2mV {
          margin-bottom: 5.6176rem;
          width: 4.8001rem;
          height: 4.7824rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .social-icons-mUB {
          margin: 0rem 0rem 5.6rem 0rem;
          width: 4.8rem;
          height: 4.8001rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .social-icons-6WT {
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 0.003rem 4.201rem 0rem;
          width: 4.7972rem;
          height: 4.7991rem;
          position: relative;
          object-fit: contain;
        }
        .social-icons-Db5 {
          height: 4.8rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-left: 0.0999rem;
          width: 4.1rem;
        }
      }
      .frame-3-x2s {
        width: 116.6rem;
        height: 100%;
        position: relative;
        overflow: hidden;
        flex-shrink: 0;

        .auto-group-qmw5-J6j {
          left: 32rem;
          top: 0;
          align-items: center;
          display: flex;
          flex-direction: column;
          width: 41.4759rem;
          height: 52.3rem;
          position: absolute;

          .auto-group-muko-dPu {
            width: calc(100% - 4.0759rem);
            display: flex;
            align-items: flex-start;
            flex-shrink: 0;
            margin: 0rem 4.076rem 3.8rem 0rem;

            .contact-me-ZHZ {
              line-height: 1.2125;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0.6rem 4.6rem 0rem 0rem;
              font-size: 4.4498rem;
              font-weight: 400;
            }
            .image-1432-UQX {
              width: 7rem;
              height: 9.8rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
          .auto-group-kdno-1fM {
            width: calc(100% - 0.9rem);
            display: flex;
            align-items: flex-end;
            flex-shrink: 0;
            margin: 0rem 0rem 3.924rem 0.9rem;

            .image-1437-LxX {
              margin: 0rem 22.1rem 1.976rem 0rem;
              width: 12.6rem;
              height: 12.6rem;
              object-fit: cover;
              vertical-align: top;
              flex-shrink: 0;
            }
            .union-1-UJ3 {
              height: 5.8759rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              width: 5.8759rem;
            }
          }
          .union-1-24f {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 0rem 7.699rem 8.725rem;
            width: 7.001rem;
            height: 7.001rem;
          }
          .image-1438-Lr3 {
            margin-left: 19.2241rem;
            width: 10.5rem;
            height: 5.5rem;
            object-fit: cover;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .auto-group-wrjr-VD9 {
          width: 25.6rem;
          height: 33.2rem;
          position: absolute;
          left: 0;
          top: 10.2rem;

          .rose-ann-robel-pWK {
            line-height: 1.2125;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 5.8rem;
            font-size: 3.452rem;
            font-weight: 400;
          }
          .rose-ann-robel-AKH {
            white-space: nowrap;
            margin-bottom: 5.8rem;
            font-size: 3.452rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
          }
          .rose-ann-robel-7EX {
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 4.8rem;
            font-size: 3.452rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #ffffff;
          }
          .roseann-Fbd {
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            font-size: 3.452rem;
            font-weight: 400;
            line-height: 1.2125;
          }
        }
        .send-CFy {
          width: 11rem;
          height: 11rem;
          position: absolute;
          left: 36.1rem;
          top: 42.6rem;
          object-fit: contain;
          vertical-align: top;
        }
        .auto-group-e84f-jmh {
          width: 16.7rem;
          height: 30rem;
          position: absolute;
          left: 99.9rem;
          top: 22.3rem;

          .image-1437-H2X {
            margin-bottom: 4.7rem;
            width: 7rem;
            height: 9.8rem;
            object-fit: cover;
            vertical-align: top;
          }
          .image-1436-2F1 {
            margin-left: 3.5rem;
            width: 13.2rem;
            height: 15.5rem;
            object-fit: cover;
            vertical-align: top;
          }
        }
        .send-xuM {
          width: 8.4rem;
          height: 8.4rem;
          position: absolute;
          left: 48.8rem;
          top: 31.3rem;
          overflow: hidden;
        }
        .send-hM9 {
          width: 7.05rem;
          height: 7.05rem;
          position: absolute;
          left: 61.4rem;
          top: 24.2rem;
          overflow: hidden;
        }
        .image-1436-eGP {
          top: 32.7rem;
          object-fit: cover;
          vertical-align: top;
          width: 12.6rem;
          height: 12.6rem;
          position: absolute;
          left: 79.5rem;
        }
      }
    }
    .mail-open-afq {
      left: 104.7rem;
      top: 112.1rem;
      object-fit: contain;
      vertical-align: top;
      width: 25.4rem;
      height: 25.4rem;
      position: absolute;
    }
  }
}
